.answer {
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 2rem;
    padding-bottom: 1rem;
}

#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.mySwiperPai {
    background-color: #282626;
}

.mySwiperPai .swiper {
    width: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mySwiperPai .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 600px;
}

.mySwiperPai .swiper-slide img {
    display: block;
    width: 1000px;
    position: relative;
    top: 50px;
}

@media (max-width: 768px) {
    .mySwiperPai .swiper-slide img {
        width: 300px;
    }
}