.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageIcon {
    width: 300px;
    height: auto;
}

.description { 
    display: block;
    width: 30rem;
    padding: 3rem;
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 1rem;
    border-radius: 9999px;
    background-color: deepskyblue;
    width: 9rem;
}