.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageIcon {
    width: 300px;
    height: auto;
}

.description { 
    width: 30rem;
    padding: 2rem 1rem;
}

.button {
    text-align: center;
    margin-top: 1rem;
    border-radius: 9999px;
    background-color: deepskyblue;
    width: 9rem;
}

@media (max-width: 768px) {
    .imageIcon {
        width: 200px;
    }
    .description {
        width: 25rem;
    }
}